#bed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
    margin: 5px;
    border-radius: 2px;
    background-color: #0C356A;
    transition: 2000ms;
}

#bed:hover {
    background-color: transparent;
    border-radius: 4px;
    scale: 2;
    rotate: 540deg;
}
